{% extends 'base.html' %}

{% block breadcrumb %}
<div class="breadcrumb-scheme-01">
	<div class="footer-container">
		<ul class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{% url 'index' %}" class="breadcrumb-link"><span>Главная</span></a>
			</li>
			<li class="breadcrumb-item">
				<a href="{% url 'shop:delivery' %}" class="breadcrumb-link">
					<span>Оплата и доставка</span>
				</a>
			</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="content-container">
  <div class="content-container1">
    <div class="content">
      <div class="title-col">
        <div class="contacts-container">
          <h1 class="text-title cart-items">Оплата и доставка</h1>
          <p class="contacts-text"><strong>Наш интернет-магазин осуществляет доставку по всей Украине</strong></p>
          <p class="contacts-text">Варианты доставки:</p>
          <ol class="contacts-ol">
            <li>Курьерская доставка - 80 грн.</li>
            <li>Самовывоз из нашего пункта выдачи или розничного магазина – бесплатно!</li>
            <li>Доставка "Новой почтой" - от 30 грн. в зависимости отадреса доставки.</li>
          </ol>
          <p class="contacts-text">Сроки доставки:</p>
          <ol class="contacts-ol">
            <li>Курьерская доставка - на следующий день</li>
            <li>Самовывоз - на следующий день</li>
            <li>Доставка "Новой почтой" - от 1 до 3 дней</li>
          </ol>
          <p class="contacts-text">Вы можете оплатить заказ:</p>
          <ol class="contacts-ol">
            <li>Наличными курьеру или в пункте выдачи при получении заказа</li>
            <li>Банковской картой Visa или Mastercard через сайт при оформлении заказа</li>
            <li>Наложенным платежом при заказе с доставкой "Новой почтой"</li>
          </ol>
          <p class="contacts-text"><strong>Доставка осуществляется бесплатно при сумме заказа более 2000 гривен.</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
