{% extends "collections.html" %}
{% load static %}
{% load thumbnail %}


{% block collection_title %}{{ title }}{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb-scheme-01">
	<div class="container">
		<ul class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{% url 'index' %}" class="breadcrumb-link"><span>Главная</span></a>
			</li>
			<!-- <li class="breadcrumb-item"> -->
				{% if current_rubric %}
				<li class="breadcrumb-item">
					<a href="{% url 'shop:by_rubric' current_rubric.slug %}" class="breadcrumb-link">
						<span>{{ current_rubric.name }}</span>
					</a>
				</li>
				{% elif current_brand %}
				<li class="breadcrumb-item">
					<a href="{% url 'shop:brand' %}" class="breadcrumb-link">
						<span>Бренды</span>
					</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{% url 'shop:by_brand' current_brand.slug %}" class="breadcrumb-link">
						<span>{{ current_brand.name }}</span>
					</a>
				</li>
				{% else %}
				<li class="breadcrumb-item">
					<a href="{% url 'shop:products' %}" class="breadcrumb-link">
						<span>Каталог товаров</span>
					</a>
				</li>
				{% endif %}
			<!-- </li> -->
		</ul>
	</div>
</div>
{% endblock %}

{% block collection %}

{% if products %}
<div class="products">
	<div class="filter">
		<div class="filter-button">
			<div class="filter-text">
				<label>Сортировать:</label>
			</div>
			<div class="filter-choise">
				<select class="filter-sort">
					<option value="" selected="">По умолчанию</option>
					<option value="">По популярности</option>
					<option value="">По возрастанию цены</option>
					<option value="">По убиванию цены</option>
					<option value="">По новинкам</option>
					<option value="">По скидке</option>
					<option value="">По алфавиту</option>
				</select>
				<div class="filter-icon"><i class="fas fa-sort-down"></i></div>
			</div>
		</div>
	</div>

	{% if messages %}
		<div class="messages-main">
			<div class="co-input co-input-pass">
				{% for message in messages %}
				<div class="co-input-error co-input co-input-pass article_card">
					{% if message.tags == 'error' %}
					<p class="login-error">{{ message}}</p>
					{% elif message.tags == 'success' %}
					<p class="login-error password-change-successfully">{{ message}}</p>
					{% else %}
					<p class="login-error password-change-another">{{ message}}</p>
					{% endif %}
				</div>
			{% endfor %}
			</div>
		</div>
	{% endif %}

	{% for product in products %}
	<div class="current-product">
		<a href="{{ product.get_absolute_url }}" class="product-card">
			<div class="product-image">
				{% if product.image_1 %}
					{% thumbnail product.image_1 "300x300" as img %}
						<img class="product_img" src="{{ img.url }}">
					{% endthumbnail %}
				{% else %}
					<img class="product_img" src="{% static 'large_technics-04-1_002.jpg' %}">
				{% endif %}
			</div>
		</a>
		<div class="product-card-title">
			<a href="{{ product.get_absolute_url }}">{{ product.brand }} {{ product.title }}</a>
		</div>
		<div class="product-card-rating">

			<div class="rating-items">
				<a href="{{ product.get_absolute_url }}#comments" class="rating">
					{% if product.comments.count >= 1 %}
					<span class="rating-item full"><i class="fas fa-star"></i></span>
					<span class="rating-item full"><i class="fas fa-star"></i></span>
					<span class="rating-item full"><i class="fas fa-star"></i></span>
					<span class="rating-item full"><i class="fas fa-star"></i></span>
					<span class="rating-item"><i class="far fa-star"></i></span>
					{% else %}
					<span class="rating-item"><i class="far fa-star"></i></span>
					<span class="rating-item"><i class="far fa-star"></i></span>
					<span class="rating-item"><i class="far fa-star"></i></span>
					<span class="rating-item"><i class="far fa-star"></i></span>
					<span class="rating-item"><i class="far fa-star"></i></span>
					{% endif %}
					<span class="rating-link">
						<span class="icon"><i class="far fa-comment-dots"></i></span>
						<span class="icon-count"><p>{{ product.comments.count }}</p></span>
					</span>
				</a>
			</div>
			<div class="product-card-prices">
				<span><h4>{{ product.price }} ₴</h4></span>
			</div>
			<div class="product-card-add">
				<div class="bascet-field">
					<form action="{% url 'cart:cart_add' product.id %}" method="post">
						<input type="hidden" id="id_quantity" name="quantity" value="1">
						{% csrf_token %}
						<button name="products" class="bascet-add">
							<i class="fas fa-shopping-basket"></i>
							<span>В корзину</span>
						</button>
					</form>
				</div>
				<div class="favorite-field">
					{% if product in compare %}
					<form class="button" action="{% url 'compare:compare_remove' product.id %}" method="post">
						<button name="products" type="submit" class="button compare">
							{% csrf_token %}
							<span class="fas fa-align-right fa-lg comparing"></span>
						</button>
					</form>
					{% else %}
					<form class="button" action="{% url 'compare:compare_add' product.id %}" method="post">
						<button name="products" type="submit" class="button compare">
							{% csrf_token %}
							<span class="fas fa-align-right fa-lg"></span>
						</button>
					</form>
					{% endif %}
					{% if product in favourite %}
					<a href="{% url 'shop:add_favourite' product.id %}" class="button favorite">
						<!-- <i class="fas fa-heart product-fav"></i> -->
						 <span class="fas fa-heart fa-lg product-fav"></span>
					</a>
					{% else %}
						<a href="{% url 'shop:add_favourite' product.id %}" class="button favorite">
							 <span class="far fa-heart fa-lg"></span>
						</a>
					{% endif %}
				</div>
			</div>

		</div>

	</div>
	{% endfor %}
</div>
{% block paginator %}
<div class="pagination-field">
	<ul class="pagination pagination-bottom">
		{% if products.has_next %}
			<li class="pagination-load">
				<a href="?page={{ products.next_page_number }}" class="pagination-load-button">Загрузить ещё</a>
			</li>
		{% endif %}
		{% if products.has_previous %}
			<li class="pagination-item pagination-item-prev">
				<a href="?page={{ products.previous_page_number }}" class="pagination-link pagination-prev">
					<i class="fas fa-chevron-left"></i> Назад
				</a>
			</li>
		{% else %}
			<li class="pagination-item">
				<div class="pagination-link pagination-prev pagination-item-noprev">
					<i class="fas fa-chevron-left"></i> Назад
				</div>
			</li>
		{% endif %}
		<li class="pagination-item pagination-item-num">
			{% if products.has_previous %}
			<a href="?page={{ page.previous_page_number }}" class="pagination-link">{{ page.previous_page_number }}</a>
			{% else %}
			<p class="pagination-link">-</p>
			{% endif %}
		</li>
		<li class="pagination-item pagination-item-num">
			<!-- <a href="?page=2" class="pagination-link">2</a> -->
			<p class="pagination-link paginator-current-page">{{ page.number }}</p>
		</li>
		<li class="pagination-item pagination-item-num">
			{% if products.has_next %}
			<a href="?page={{ page.next_page_number }}" class="pagination-link">{{ page.next_page_number }}</a>
			{% else %}
			<p class="pagination-link">-</p>
			{% endif %}
		</li>
		{% if products.has_next %}
			<li class="pagination-item pagination-item-next">
				<a href="?page={{ products.next_page_number }}" class="pagination-link pagination-next">
					Вперёд <i class="fas fa-chevron-right"></i>
				</a>
			</li>
		{% else %}
			<li class="pagination-item">
				<div class="pagination-link pagination-next pagination-item-nonext">
					Вперёд <i class="fas fa-chevron-right"></i>
				</div>
			</li>
		{% endif %}
	</ul>

</div>
{% endblock paginator %}

{% else %}
<div class="text">
	<div class="text-content">
		<div class="text-row">
			<div class="text-icon">
				<!-- <i class="fas fa-info-circle"></i> -->
				<i class="fas fa-info"></i>
			</div>
			<div class="text-col">
				<p>В данной категории пока пусто. Совсем скоро мы наполним её замечательными товарами!</p>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock collection %}
