{% extends "base.html" %}
{% load static %}

{% block breadcrumb %}
<div class="breadcrumb-scheme-01">
	<div class="footer-container">
		<ul class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{% url 'index' %}" class="breadcrumb-link"><span>Главная</span></a>
			</li>
			<li class="breadcrumb-item">
				{% if product.rubric %}
				<a href="{% url 'shop:by_rubric' product.rubric.slug %}" class="breadcrumb-link">
					<span>{{ product.rubric.name }}</span>
				</a>
				{% else %}
				<a href="{% url 'shop:products' %}" class="breadcrumb-link">
					<span>Каталог товаров</span>
				</a>
				{% endif %}
			</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="content-container">
	<div class="content">
		<div class="content-left col">
		  <div class="product-images">
		    <div class="product-image-block">
		      <a href="#" class="product-image-thumb">
		        <img class="product-img" src="{% if product.image_1 %}{{ product.image_1.url }}{% else %}{% static 'large_technics-04-1_002.jpg' %}{% endif %}">
		      </a>
		    </div>
		    <div class="product-gallery">
					<div class="product-gallery-images">
			      <a href="#" class="product-gallery-image">
			        <span class="product-gallery-lighter"></span>
			        <img src="{% if product.image_1 %}{{ product.image_1.url }}{% else %}{% static 'large_technics-04-1_002.jpg' %}{% endif %}">

			      </a>
			      <a href="#" class="product-gallery-image">
			        <span class="product-gallery-lighter"></span>
			        <img src="{% if product.image_2 %}{{ product.image_2.url }}{% else %}{% static 'large_technics-04-1_002.jpg' %}{% endif %}">
			      </a>
			      <a href="#" class="product-gallery-image">
			        <span class="product-gallery-lighter"></span>
			        <img src="{% if product.image_3 %}{{ product.image_3.url }}{% else %}{% static 'large_technics-04-1_002.jpg' %}{% endif %}">
			      </a>
					</div>
		    </div>
		  </div>
		</div>
		<div class="content-right col">
		  <div class="product-data">
		    <form action="{% url 'cart:cart_add' product.id %}" method="post">
		      <div class="product-head">
		        <h1 class="product-title">{{ product.brand }} {{ product.title }}</h1>
		        <div class="product-brand">
		          <a href="{% url 'shop:by_brand' product.brand.slug %}" class="brand-image">
		            <img src="{{ product.brand.logo.url }}" class="brand-logo">
		          </a>
		        </div>
		      </div>
		      <div class="product-variants">
		        <div class="product-sku">
		          Артикул:
		          <span>3254{{ product.pk }}</span>
		        </div>
		        <div class="product-prices">
		          <span>{{ product.price }} ₴</span>
		        </div>
		        <div class="product-rating">
		          <div class="rating-items">
		      			<a href="#comments" class="rating">
									{% if review_value.value__avg <= 1 %}
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									{% elif review_value.value__avg <= 2 %}
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									{% elif review_value.value__avg <= 3 %}
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									{% elif review_value.value__avg <= 4 %}
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									{% elif review_value.value__avg <= 5 %}
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									{% else %}
									<span class="rating-item"><i class="far fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									{% endif %}
		      				<span class="rating-link">
		      					<span class="icon comment-count"><i class="far fa-comment-dots"></i></span>
		      					<span class="icon-count comment-count"><p>Рейтинг и отзывы ({{ comments.count }})</p></span>
		      				</span>
		      			</a>
		      		</div>
		        </div>
		        <div class="product-form">
		          {% if product.availability %}
		          <div class="product-availability available">
		            <p>В наличии</p>
		          </div>
		          {% else %}
		          <div class="product-availability not_available">
		            <p>Нет в наличии</p>
		          </div>
		          {% endif %}
		          <div class="product-buttons">
		            <div class="product-row">
		              <div class="product-quantity">
		                <div class="quantity">
		                  <div class="product-row no-gutters" data-quantity="">
		                    <div class="subtraction">
		                      <button type="button" class="button-counter" data-quantity-change="-1">
		                        <i class="fas fa-minus"></i>
		                      </button>
		                    </div>
		                    <div class="count">
		                      <input class="input-count" type="number" id="id_quantity" name="quantity" value="1" min="1" autocomplete="off">
		                    </div>
		                    <div class="addition">
		                      <button type="button" class="button-counter" data-quantity-change="1">
		                        <i class="fas fa-plus"></i>
		                      </button>
		                    </div>
		                  </div>
		                </div>

		              </div>
									{% csrf_token %}
		              <div class="product-add">
		                <div class="product_add">
		                  <button class="add-to-cart" type="submit" data-item-add="">
		                    <i class="fas fa-cart-plus"></i>
		                    <span>В корзину</span>
		                  </button>
		                </div>
		              </div>
		              <div class="order">
		                <div class="product-quick_checkout">
		                  <button class="add-to-cart quick_checkout" type="submit" data-quick-checkout>
		                    Заказ в один клик
		                  </button>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </form>
		    <div class="product-extras">
		      <div class="extras-row">
		        <div class="bonuses-col">
		          <div class="product-bonuses">
		            <button type="button" data-target="bonuses" data-type="text" class="bonuses-button">
		              <i class="fas fa-piggy-bank"></i>
		              <span> 2599 Бонусов</span>
		            </button>
		          </div>
		        </div>
						<div class="favorite-col">

							<button class="button-icon">
								<i class="fas fa-align-right compare"></i>
								<p data-text-second="В сравнении" ata-text-first="Сравнить">Сравнить</p>
							</button>
							<button class="button-icon">
								<i class="far fa-heart product-add-favorite"></i>
								<p data-text-first="В избранное" data-text-second="В избранном">В избранное</p>
							</button>
						</div>
		      </div>
		    </div>
				<div class="product-geo">
					<div class="text-content delivery">
						<i class="fas fa-truck"></i>
						<p>Доставка в <span><a class="delivery-city" href="#"><span>г. Киев</span></a></span></p>
					</div>
					<div class="product-geo-items">
						<div class="salesbeat-div-courier">
							<p>Курьером:</p>
							<ul>
								<li>Курьерская доставка 1 день, 150 грн.</li>
								<li>Посылка склад-дверь 1 день, 120 грн.</li>
								<li>Посылка склад-склад 1 день, 100 грн.</li>
							</ul>
						</div>
						<div class="salesbeat-div-pvz">
							<p>Самовывоз:</p>
							<ul>
								<li>Самовывоз, бесплатно.</li>
								<li>Посылка склад-склад 1 день, 60 грн.</li>
								<li>Посылка дверь-склад 1 день, 50 грн.</li>
								<li>Посылка Новой Почтой с наложенным платежём 1 день, 30 грн.</li>
								<li>Посылка Новой Почтой по предоплате 1 день, 30 грн.</li>
							</ul>
							<p>
								<a href="#" class="salesbeat-pvz-map">
									<i class="fas fa-map-marked-alt"></i>
									<span>Просмотр пунктов самовывоза</span>
								</a>
							</p>
						</div>
					</div>
				</div>
				<div class="product-collections">
					Категории:
					<a href="{% url 'shop:products' %}">Каталог товаров, </a>
					<a href="{% url 'shop:by_rubric' product.rubric.slug %}">{{ product.rubric.name }}, </a>
					<a href="{% url 'shop:by_brand' product.brand.slug %}">{{ product.brand.name }}</a>
				</div>
		  </div>
		</div>
	</div>
</div>
{% endblock content %}

{% block comments %}
<div class="section-share">
	<div class="share-product">
		<div class="share-to">
			<ul>
				<!-- <li class="share-to-item">
					<p>Поделится: </p>
				</li> -->
				<li class="share-to-item">
					<a href="#"><i class="fab fa-facebook-square"></i></a>
				</li>
				<li class="share-to-item">
					<a href="#"><i class="fab fa-pinterest-square"></i></a>
				</li>
				<li class="share-to-item">
					<a href="#"><i class="fab fa-twitter-square"></i></a>
				</li>
				<li class="share-to-item">
					<a href="#"><i class="fab fa-viber"></i></a>
				</li>
				<li class="share-to-item">
					<a href="#"><i class="fab fa-whatsapp-square"></i></a>
				</li>
				<li class="share-to-item">
					<a href="#"><i class="fab fa-telegram"></i></a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="product-section">
	<div class="product-container">
		<div class="additionally">
			<div class="additionally-row">
				<div class="additionally-item">
					<i class="far fa-list-alt"></i>
					<p>описание</p>
				</div>
				<div class="additionally-item">
					<i class="fas fa-sliders-h"></i>
					<p>Характеристики</p>
				</div>
				<div class="additionally-item">
					<i class="far fa-comment-dots"></i>
					<p>Отзывы</p>
					<sup>{{ comments.count }}</sup>
				</div>
				<!-- <div class="additionally-item">
					<i class="far fa-list-alt"></i>
					<p>описание</p>
				</div> -->
			</div>
		</div>
	</div>
</div>
<div class="product-section">
	<div class="product-container">
		<div class="comments-row" id="comments">
			<div class="comments-all">
				<div class="product-reviews">
				{% if comments %}
					{% for comment in comments %}
					<div class="review">
						<div class="review-header">
							<div class="review-avatar">
								<div class="review-avatar-logo">
									<img src="https://avatars.dicebear.com/v2/initials/{{ comment.name }}.svg" alt="{{ comment.name }}">
								</div>
							</div>
							<div class="review-detail">
								<div class="review-reting">
									<!--  -->
									{% if comment.value == 1 %}
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
		      				<span class="rating-item"><i class="far fa-star"></i></span>
									{% elif comment.value == 2 %}
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									{% elif comment.value == 3 %}
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									{% elif comment.value == 4 %}
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									{% elif comment.value == 4 %}
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									<span class="rating-item full"><i class="fas fa-star"></i></span>
									{% else %}
									<span class="rating-item"><i class="far fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									<span class="rating-item"><i class="far fa-star"></i></span>
									{% endif %}
								</div>
								<div class="review-author">
									<span class="author">{{ comment.name }}</span>
									{{ comment.created|date:'d.m.Y в H:i' }}
								</div>
							</div>
						</div>
						<div class="review-content">
							<div class="review-content-text">
								{{ comment.body }}
							</div>
						</div>
					</div>
					{% endfor %}
				{% else %}
				<div class="text-content form-message">
						<div class="text-row">
							<div class="message-icon">
								<i class="fas fa-pencil-alt"></i>
							</div>
							<div class="text-col">
								<p>
									Здесь еще никто не оставлял отзывы. Вы можете быть первым!
								</p>
							</div>
						</div>
				</div>
				{% endif %}
				</div>
			</div>
			<div class="create-comment">
				{% if not sent %}
				<form action="." method="post" class="review-form">
					<div class="form">
						<div class="form-item">
							<label for="id_value">
								Ваша оценка
								<span class="required">*</span>
							</label>
							<!-- <p>{{ comment_form.value }}</p> -->
							<input placeholder="" id="id_value" name="value" type="number" value="" required>
						</div>
						<div class="form-item">
							<label for="id_name">
								Представтесь пожалуйста
								<span class="required">*</span>
							</label>
							{{ comment_form.name }}
						</div>
						<div class="form-item">
							<label for="id_email">
								Электронная почта
								<span class="required">*</span>
							</label>
							{{ comment_form.email }}
						</div>
						<div class="form-item">
							<label for="id_body">
								Ваш отзыв
								<span class="required">*</span>
							</label>
							{{ comment_form.body }}
						</div>
						{% csrf_token %}
						<div class="form-item form-item-submit">
							<div class="submit-row">
								<div class="submit-button">
									<button class="add-to-cart comment-send" name="comment" type="submit">Отправить</button>
								</div>
								<div class="submit-text">
									<div class="form-item-privacy">
										<p>
											Нажимая на кнопку «Отправить» вы принимаете условия
											<a href="#">Нашего сайта</a>.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!-- <h2>{{ review_value.value__avg }}</h2> -->
				{% else %}
				<div class="review-form">
					<div class="form">
						<div class="text-content form-message">
								<div class="text-row">
									<div class="message-icon">
										<i class="far fa-check-square"></i>
									</div>
									<div class="text-col">
										<p>
											Ваш комментарий успешно отправлен
										</p>
									</div>
								</div>
						</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% if similar_products %}
<div class="product-section">
	<div class="product-container">
		<div class="products">
			<div class="similar_products">Аналогичные товары</div>
			{% for product in similar_products %}
			<div class="current-product">
				<a href="{{ product.get_absolute_url }}" class="product-card">
				{% if product.image_1 %}
				<div class="product-image"><img src="{{ product.image_1.url }}" ></div>
				{% else %}
				<div class="product-image"><img src="/media/images/large_technics-04-1_002.jpg" ></div>
				{% endif %}
				</a>
				<div class="product-card-title">
					<a href="{{ product.get_absolute_url }}">{{ product.brand }} {{ product.title }}</a>
				</div>
				<div class="product-card-rating">

					<div class="rating-items">
						<a href="{{ product.get_absolute_url }}" class="rating">
							{% if product.comments.count >= 1 %}
							<span class="rating-item full"><i class="fas fa-star"></i></span>
							<span class="rating-item full"><i class="fas fa-star"></i></span>
							<span class="rating-item full"><i class="fas fa-star"></i></span>
							<span class="rating-item full"><i class="fas fa-star"></i></span>
							<span class="rating-item"><i class="far fa-star"></i></span>
							{% else %}
							<span class="rating-item"><i class="far fa-star"></i></span>
							<span class="rating-item"><i class="far fa-star"></i></span>
							<span class="rating-item"><i class="far fa-star"></i></span>
							<span class="rating-item"><i class="far fa-star"></i></span>
							<span class="rating-item"><i class="far fa-star"></i></span>
							{% endif %}
							<span class="rating-link">
								<span class="icon"><i class="far fa-comment-dots"></i></span>
								<span class="icon-count"><p>{{ product.comments.count }}</p></span>
							</span>
						</a>
					</div>
					<div class="product-card-prices">
						<span><h4>{{ product.price }} ₴</h4></span>
					</div>
					<div class="product-card-add">
						<div class="bascet-field">
							<a href="{{ product.get_absolute_url }}" class="bascet-add">
								<i class="fas fa-shopping-basket"></i>
								<span>В корзину</span>
							</a>
						</div>
						<div class="favorite-field">
							<button type="button" class="button compare">
								<span class="fas fa-align-right fa-lg"></span>
							</button>
							<button class="button favorite">
								 <span class="far fa-heart fa-lg"></span>
							</button>
						</div>
					</div>

				</div>

			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endif %}
{% endblock comments %}
