{% extends "collections.html" %}

{% block collection %}
{% for product in products %}
<div class="current-product">
	<a href="{% url 'shop:product' product.pk %}" class="product-card">
	{% if product.image_1 %}
	<div class="product-image"><img src="{{ product.image_1.url }}" ></div>
	{% else %}
	<div class="product-image"><img src="/media/images/large_technics-04-1_002.jpg" ></div>
	{% endif %}
	</a>
	<div class="product-card-title">
		<a href="{% url 'shop:product' product.pk %}">{{ product.title }}</a>
	</div>
	<div class="product-card-rating">

		<div class="rating-items">
			<a href="{% url 'shop:product' product.pk %}" class="rating">
				<span class="rating-item full"><i class="fas fa-star"></i></span>
				<span class="rating-item full"><i class="fas fa-star"></i></span>
				<span class="rating-item full"><i class="fas fa-star"></i></span>
				<span class="rating-item full"><i class="fas fa-star"></i></span>
				<span class="rating-item"><i class="far fa-star"></i></span>
				<span class="rating-link">
					<span class="icon"><i class="far fa-comment-dots"></i></span>
					<span class="icon-count"><p>2</p></span>
				</span>
			</a>
		</div>
		<div class="product-card-prices">
			<span><h4>{{ product.price }} ₴</h4></span>
		</div>
	<div class="product-card-add">
		<div class="bascet-field">
			<a href="{% url 'shop:product' product.pk %}" class="bascet-add">
				<i class="fas fa-shopping-basket"></i>
				<span>В корзину</span>
			</a>
		</div>
		<div class="favorite-field">
			<button type="button" class="button compare">
				<span class="fas fa-align-right fa-lg"></span>
			</button>
			<button class="button favorite">
				 <span class="far fa-heart fa-lg"></span>
			</button>
		</div>
	</div>

	</div>

</div>
{% endfor %}
{% endblock collection %}

{% block paginator %}
<ul class="pagination pagination-bottom">
	{% if products.has_next %}
		<li class="pagination-load">
			<a href="?page={{ products.next_page_number }}" class="pagination-load-button">Загрузить ещё</a>
		</li>
	{% endif %}
	{% if products.has_previous %}
		<li class="pagination-item pagination-item-prev">
			<a href="?page={{ products.previous_page_number }}" class="pagination-link pagination-prev">
				<i class="fas fa-chevron-left"></i> Назад
			</a>
		</li>
	{% else %}
		<li class="pagination-item">
			<div class="pagination-link pagination-prev pagination-item-noprev">
				<i class="fas fa-chevron-left"></i> Назад
			</div>
		</li>
	{% endif %}
	<li class="pagination-item pagination-item-num">
		<a href="?page=1" class="pagination-link">1</a>
	</li>
	<li class="pagination-item pagination-item-num">
		<a href="?page=2" class="pagination-link">2</a>
	</li>
	<li class="pagination-item pagination-item-num">
		<a href="?page=3" class="pagination-link">3</a>
	</li>
	{% if products.has_next %}
		<li class="pagination-item pagination-item-next">
			<a href="?page={{ products.next_page_number }}" class="pagination-link pagination-next">
				Вперёд <i class="fas fa-chevron-right"></i>
			</a>
		</li>
	{% else %}
		<li class="pagination-item">
			<div class="pagination-link pagination-next pagination-item-nonext">
				Вперёд <i class="fas fa-chevron-right"></i>
			</div>
		</li>
	{% endif %}
</ul>
{% endblock paginator %}
