{% extends "base.html" %}


    <!-- {% if "query" in request.GET %}
        <h1>Posts containing "{{ cd.query }}"</h1>
        <h3>Found {{ total_results }} result{{ total_results|pluralize }}</h3>
        {% for result in results %}
            {% with product=result.object %}
                <h4><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h4>
                {{ product.text|truncatewords:5 }}
            {% endwith %}
            {% empty %}
            <p>There are no results for your query.</p>
        {% endfor %}
        <p><a href="{% url 'shop:product_search' %}">Search again</a></p>
    {% else %}
        <h1>Search for posts</h1>
        <form action="." method="get">

          {{ search_form.as_p }}
          <input type="submit" value="Search">
        </form>
    {% endif %} -->



{% block content %}
	{% if 'query' in request.GET %}
    <h1>Posts containing "{{ cd.query }}"</h1>
    <h3>Found {{ total_results }} result{{ total_results|pluralize }}</h3>
    {% for result in results %}
        {% with product=result.object %}
            <h4><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h4>
            {{ product.text|truncatewords:5 }}
        {% endwith %}
        {% empty %}
        <p>There are no results for your query.</p>
    {% endfor %}
    <p><a href="{% url 'shop:product_search' %}">Search again</a></p>
	{% else %}
		<h1>Search for posts</h1>
		<form action="." method="get">
			{{ search_form.as_p }}
			<input type="submit" value="Search">
		</form>
	{% endif %}
{% endblock %}
