{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FoxyShop</title>
	<link rel="stylesheet" href="{% static 'shop/style.css' %}">
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
	crossorigin="anonymous">
</head>
<body>

	<div class="main">
		<div class="header">
			<div class="logo">
				<div class="logo_upper">
					<div class="container">
						<div class="logo_text">
							<h1><a href="{% url 'index' %}">FoxyShop</a></h1>
						</div>
						<div class="wrap">
						   <div class="search">
						      <input type="text" class="searchTerm" placeholder="Поиск по каталогу...">
						      <button type="submit" class="searchButton">
						        <i class="fa fa-search"></i>
						     	</button>
						   </div>
						</div>
						<div class="contacts">
							<div class="contacts_top">

								<div class="phone_number">
									<a href="tel:+38(099)98-52-672">+38 (099) 985-26-72</a>
								</div>

							</div>
							<div class="contacts_bottom">

								<div class="request_call">
									<a href="#">Заказать звонок</a>
								</div>
								<div class="more_contacts">
									<!-- <h2>&hellip;</h2> -->
									<h2><a href="#">...</a></h2>
								</div>

							</div>
						</div>
						<div class="user_field">
							<div class="user_choise">
								<div class="user_conteiner">
									<div class="register">
										<a href="#">Register</a>
									</div>
									<div class="login">
										<a href="#">Login</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="menu">
				<div class="menubar">
					<div class="navbar">

						<nav class="nav">
							<ul class="nav-items">
								<div class="li-board collection">
									<li class="">
										<a href="{% url 'shop:products' %}"> Каталог товаров</a>
									</li>
								</div>

								<div class="li-board">
									<li><a href="{% url 'index' %}">Главная</a></li>
								</div>
								<div class="li-board">
									<li><a href="#">Акции</a></li>
									<!-- <li><a href="{% url 'index' %}admin">Админка</a></li> -->
								</div>
								<div class="li-board">
									<li>
										<a href="#">Новинки</a>
									</li>
								</div>
								<div class="li-board">
									<li>
										<a href="{% url 'shop:brand' %}">Бренды</a>
									</li>
								</div>
								<div class="li-board">
									<li>
										<a href="#">Статьи</a>
									</li>
								</div>
								<div class="li-board">
									<li>
										<a href="#">Оплата и Доставка</a>
									</li>
								</div>
								<div class="li-board">
									<li>
										<a href="#">Контакты</a>
									</li>
								</div>
							</ul>
						</nav>
						<nav class="nav-collections">
							<ul>
								<li>
									{% for brand in brands %}
									<a href="{% url 'shop:by_brand' brand.id %}">{{ brand.name }}</a>
									{% endfor %}
								</li>
							</ul>
						</nav>

					</div>
				</div>
			</div>

		</div>

		<div class="content-container">
			<div class="content">
				<div class="sidebar">
					<div class="sidebar-container">
						<div class="sidebar-collection sidebar-block">
							<div class="sidebar-collection-title">Каталог товаров</div>
							<div class="sidebar-collection-content">
								<nav class="nav-sidebar">
									<ul>
										<li>
											<a href="#">
												Телефоны
												<i class="fas fa-chevron-right"></i>
											</a>
										</li>
										<li><a href="#">Фото и видео</a></li>
										<li><a href="#">Ноутбуки, планшеты</a></li>
										<li><a href="#">Гаджеты и авто</a></li>
										<li><a href="#">Аксессуары</a></li>
										<li><a href="#">Техника для дома</a></li>
										<li><a href="#">Разное</a></li>
										<li><a href="{% url 'shop:brand' %}">Бренды</a></li>
									</ul>
								</nav>
							</div>
						</div>

						<div class="sidebar-article sidebar-block">
							<div class="article">
								<div class="article_card">
									<div class="article_card-img">
										<a href="#">

											<img src="{% static 'shop/75878-img_4625.jpg' %}">
											<div class="hidden"><div class="hidden-text">Читать</div></div>
											<p>12 Января 2020</p>

										</a>
									</div>

									<div class="article_card-title">
										<a href="#">Почему macbook идеальный выбор для работы!?</a>
									</div>
								</div>
								<div class="article_card">
									<div class="article_card-img">
										<a href="#">

											<img src="{% static 'shop/blackwhite-photography-36271549100649patda7aac3.jpg' %}">
											<div class="hidden"><div class="hidden-text">Читать</div></div>
											<p>15 Января 2020</p>

										</a>
									</div>

									<div class="article_card-title">
										<a href="#">Экосистема Apple все тонкости...</a>
									</div>
								</div>
								<div class="article_card">
									<div class="article_card-img">
										<a href="#">

											<img src="{% static 'shop/fintech2-800.jpg' %}">
											<div class="hidden"><div class="hidden-text">Читать</div></div>
											<p>25 Февраля 2020</p>

										</a>
									</div>

									<div class="article_card-title">
										<a href="#">Главные технологические достижения 2019 года</a>
									</div>
								</div>

							</div>

						</div>
						<div class="ad-block">
							<div class="ad-block-container">
								<div class="some-ad">
									<a title="Здрасте" href="#">
										<img src="{% static 'shop/some-ad.png' %}">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="section">
					<div class="section-content">

						<div class="content-title">
							<div class="title-text">
								<h1>Каталог товаров</h1>
							</div>
						</div>

						<div class="filter">
							<div class="filter-button">
								<div class="filter-text">
									<label>Сортировать:</label>
								</div>
								<div class="filter-choise">
									<select class="filter-sort">
										<option value="" selected="">По умолчанию</option>
										<option value="">По популярности</option>
										<option value="">По возрастанию цены</option>
										<option value="">По убиванию цены</option>
										<option value="">По новинкам</option>
										<option value="">По скидке</option>
										<option value="">По алфавиту</option>
									</select>
									<div class="filter-icon"><i class="fas fa-sort-down"></i></div>
								</div>
							</div>
						</div>

						<div class="main-content">
							<div class="products">
								{% block content %}
								{% endblock content %}
							</div>
							<div class="pagination-field">
								{% block paginator %}
								{% endblock paginator %}
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="footer">
			<p>
				<a href="{% url 'index' %}">Главная</a> |
				<a href="{% url 'shop:products' %}">Каталог товаров</a> |
				<a href="#">И тд...</a>
			</p>
			<p>&copy; FoxyShop - 12.2019</p>
		</div>

	</div>


</body>
</html>
