{% extends "base.html" %}
{% load static %}
{% load blog_tags %}
{% load thumbnail %}
{% load i18n %}


{% block content %}
<div class="container">

  <div class="content">
    <div class="sidebar">
      <div class="sidebar-container">
        <div class="sidebar-collection sidebar-block">
          <div class="sidebar-collection-title">{% trans 'Каталог товаров' %}</div>
          <div class="sidebar-collection-content">
            <nav class="nav-sidebar">
              <ul>
                {% for rubric in rubrics %}
                  <li>
                    <a href="{% url 'shop:by_rubric' rubric.slug %}" {% if title == rubric.name %}class="selected_rubric"{% else %}class="nav-sidebar_rubric"{% endif %}>{{ rubric.name }}</a>
                  </li>
                {% endfor %}
                <li>
                  <a href="{% url 'shop:brand' %}" class="nav-sidebar_rubric">{% trans 'Бренды' %}</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="sidebar-article sidebar-block">
          <div class="article">
            {% for article in blogs %}
            <div class="article_card">
              <div class="article_card-img">
                <a href="{% url 'blog:detail' article.slug %}">
                  {% thumbnail article.image "480x300" as img %}
        						<img src="{{ img.url }}">
        					{% endthumbnail %}
                  <div class="hidden"><div class="hidden-text">Читать</div></div>
                  <p>{{ article.added|date:'d E Y' }}</p>
                </a>
              </div>

              <div class="article_card-title">
                <a href="{% url 'blog:detail' article.slug %}">{{ article.title|markdown|truncatewords_html:10 }}</a>
              </div>
            </div>
            {% endfor %}
          </div>

        </div>
        <div class="ad-block">
          <div class="ad-block-container">
            <div class="some-ad">
              <a title="Здрасте" href="{% url 'empty' %}">
                <img src="{% static 'shop/some-ad.png' %}">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="section-content">

        <div class="content-title">
          <div class="title-text">
            <h1>{% block collection_title %}{% endblock %}</h1>
          </div>
        </div>


        <div class="main-content">
          <div class="products">
            {% block collection %}
            {% endblock collection %}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
