{% extends "base.html" %}
{% load static %}
{% load blog_tags %}
{% load thumbnail %}

{% block content %}
<div class="container">

  <div class="content">
    <div class="sidebar">
      <div class="sidebar-container">
        <div class="sidebar-collection sidebar-block">
          <div class="sidebar-collection-title">Каталог товаров</div>
          <div class="sidebar-collection-content">
            <nav class="nav-sidebar">
              <ul>
                <li>
                  <a href="{% url 'shop:by_rubric' 'telefony' %}" {% if title == 'Телефоны'%}class="selected_rubric"{% else %}class="nav-sidebar_rubric"{% endif %}>
                    Телефоны
                    <!-- <i class="fas fa-chevron-right"></i> -->
                  </a>
                </li>
                <li><a href="{% url 'shop:by_rubric' 'foto-i-video' %}" {% if title == 'Фото и видео'%}class="selected_rubric"{% else %}class="nav-sidebar_rubric"{% endif %}>Фото и видео</a></li>
                <li><a href="{% url 'shop:by_rubric' 'noutbuki-planshety' %}" {% if title == 'Ноутбуки, планшеты'%}class="selected_rubric"{% else %}class="nav-sidebar_rubric"{% endif %}>Ноутбуки, планшеты</a></li>
                <li><a href="{% url 'shop:by_rubric' 'konsoli' %}" {% if title == 'Консоли'%}class="selected_rubric"{% else %}class="nav-sidebar_rubric"{% endif %}>Консоли</a></li>
                <li><a href="{% url 'shop:by_rubric' 'naushniki-i-audio' %}" {% if title == 'Наушники и аудио'%}class="selected_rubric"{% else %}class="nav-sidebar_rubric"{% endif %}>Наушники и аудио</a></li>
                <li><a href="{% url 'shop:by_rubric' 'gadzhety-i-avto' %}" {% if title == 'Гаджеты и авто'%}class="selected_rubric"{% else %}class="nav-sidebar_rubric"{% endif %}>Гаджеты и авто</a></li>
                <li><a href="{% url 'shop:by_rubric' 'aksessuary' %}" {% if title == 'Аксессуары'%}class="selected_rubric"{% else %}class="nav-sidebar_rubric"{% endif %}>Аксессуары</a></li>
                <li><a href="{% url 'shop:by_rubric' 'tehnika-dlya-doma' %}" {% if title == 'Техника для дома'%}class="selected_rubric"{% else %}class="nav-sidebar_rubric"{% endif %}>Техника для дома</a></li>
                <li><a href="{% url 'shop:by_rubric' 'raznoe' %}" {% if title == 'Разное'%}class="selected_rubric"{% else %}class="nav-sidebar_rubric"{% endif %}>Разное</a></li>
                <li><a href="{% url 'shop:brand' %}" {% if title == 'Бренды'%}class="selected_rubric"{% else %}class="nav-sidebar_rubric"{% endif %}>Бренды</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="sidebar-article sidebar-block">
          <div class="article">
            {% for article in blogs %}
            <div class="article_card">
              <div class="article_card-img">
                <a href="{% url 'blog:detail' article.slug %}">
                  {% thumbnail article.image "480x300" as img %}
        						<img src="{{ img.url }}">
        					{% endthumbnail %}
                  <div class="hidden"><div class="hidden-text">Читать</div></div>
                  <p>{{ article.added|date:'d E Y' }}</p>
                </a>
              </div>

              <div class="article_card-title">
                <a href="{% url 'blog:detail' article.slug %}">{{ article.title|markdown|truncatewords_html:10 }}</a>
              </div>
            </div>
            {% endfor %}
          </div>

        </div>
        <div class="ad-block">
          <div class="ad-block-container">
            <div class="some-ad">
              <a title="Здрасте" href="{% url 'empty' %}">
                <img src="{% static 'shop/some-ad.png' %}">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="section-content">

        <div class="content-title">
          <div class="title-text">
            <h1>{% block collection_title %}{% endblock %}</h1>
          </div>
        </div>


        <div class="main-content">
          <div class="products">
            {% block collection %}
            {% endblock collection %}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
