{% extends "base.html" %}


{% block content %}
<div class="co-section--content_wrapper">
  <!-- <div class="profile-container"> -->
    <div class="co-sidebar--menu">
      <div class="co-menu-personal">
        <div class="co-menu-personal-item">
          <a href="{% url 'purchase_history' %}" {% if title == 'history' %}class="co-menu-personal-link co-active"{% else %}class="co-menu-personal-link"{% endif %}>История заказов</a>
        </div>
        <div class="co-menu-personal-item">
          <a href="{% url 'change_delivery' %}" {% if title == 'delivery' %}class="co-menu-personal-link co-active"{% else %}class="co-menu-personal-link"{% endif %}>Адрес доставки</a>
        </div>
        <div class="co-menu-personal-item">
          <a href="{% url 'bonus_info' %}" {% if title == 'bonuses' %}class="co-menu-personal-link co-active"{% else %}class="co-menu-personal-link"{% endif %}>Скидки и бонусы</a>
        </div>
        <div class="co-menu-personal-item">
          <a href="{% url 'edit_profile' %}" {% if title == 'edit' %}class="co-menu-personal-link co-active"{% else %}class="co-menu-personal-link"{% endif %}>Контактные данные</a>
        </div>
        <div class="co-menu-personal-item">
          <a href="{% url 'logout' %}" class="co-menu-personal-link">Выход</a>
        </div>
      </div>
    </div>
    <div class="co-section--content">
    {% block info %}

    {% endblock info %}
    </div>
  <!-- </div> -->
</div>
{% endblock %}
