{% extends "profile_base.html" %}
{% load static %}

{% block info %}

		{% if messages %}
		  <div class="messages-profile">
		    <div class="co-input co-input-pass">
		      {% for message in messages %}
		      <div class="co-input-success co-input co-input-pass">
		        {% if message.tags == 'error' %}
		        <p class="login-error">{{ message}}</p>
		        {% elif message.tags == 'success' %}
		        <p class="login-error password-change-successfully">{{ message}}</p>
		        {% else %}
		        <p class="login-error password-change-another">{{ message}}</p>
		        {% endif %}
		      </div>
		    {% endfor %}
		    </div>
		  </div>
		{% endif %}
  <div class="co-section-login">
    <h1>Контактные данные</h1>
  </div>
  <div class="co-login">
    <div class="co-login-form_data">
      {% if user_form.errors %}
      <div class="login-errors">
        <div class="co-input co-input-pass">
          {{ form.first_name.errors }}
          {{ form.last_name.errors }}
          {{ form.email.errors }}
        </div>
      </div>
      {% endif %}
      {% if profile_form.errors %}
      <div class="login-errors">
        <div class="co-input co-input-pass">
          {{ form.phone_number.errors }}
          {{ form.avatar.errors }}
        </div>
      </div>
      {% endif %}
      <form id="edit_form" action="." method="post" enctype="multipart/form-data">
				{% if backends.associated %}
				{% for ass in backends.associated %}
					{% if ass.provider == 'facebook' %}
					<div class="co-input profile-avatar">
	          {% if user.profile.avatar %}
	            <img src="{{ user.profile.avatar.url }}" alt="">
	          {% else %}
							<img src="{{ass.extra_data.picture.data.url}}" alt="">
	          {% endif %}
	          <div class="co-input-avatar">
	            <label for="login" class="co-input-label-no-after">Изменить фото</label>
	            <div class="co-input-text">

	              <input id="id_avatar" type="file" name="avatar" accept="image/*">
	            </div>
	          </div>
	        </div>
					{% endif %}
				{% endfor %}
				{% else %}
	        <div class="co-input profile-avatar">
	          {% if user.profile.avatar %}
	            <img src="{{ user.profile.avatar.url }}" alt="">
	          {% else %}
							<img src="{% static 'normal.png' %}" alt="">
	          {% endif %}
	          <div class="co-input-avatar">
	            <label for="login" class="co-input-label-no-after">Изменить фото</label>
	            <div class="co-input-text">
	              <!-- {{ profile_form.avatar }} -->
	              <input id="id_avatar" type="file" name="avatar" accept="image/*">
	            </div>
	          </div>
	        </div>
				{% endif %}
        <div class="co-input">
          <label for="login" class="co-input-label-no-after">Имя</label>
          <div class="co-input-text">
            {{ user_form.first_name }}
          </div>
        </div>
        <div class="co-input co-input-pass">
          <label for="login" class="co-input-label-no-after">Фамилия</label>
          <div class="co-input-text">
            {{ user_form.last_name }}
          </div>
        </div>
        <div class="co-input co-input-pass">
          <label for="login" class="co-input-label-no-after">Email</label>
          <div class="co-input-text">
            {{ user_form.email }}
          </div>
        </div>
        <div class="co-input co-input-pass">
          <label for="login" class="co-input-label-no-after">Номер телефона</label>
          <div class="co-input-text">
            <!-- <input id="id_phone_number" type="tel" name="phone_number" maxlength="10"> -->
            {{ profile_form.phone_number }}
          </div>
        </div>
        <div class="co-input-phone">Например: 0999852672</div>
        {% csrf_token %}
        <div class="co-form-controls">
          <!-- <input form="edit_form" name="edit_form" type="submit" class="co-button co-form-button" value="Сохранить изменения"> -->
          <button form="edit_form" name="edit_form" type="submit" class="co-button co-form-button">
            Сохранить изменения
          </button>
          <a href="{% url 'password_change' %}" class="co-button co-button-link">Сменить пароль</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
