{% extends "profile_base.html" %}
{% load static %}

{% block info %}

		{% if messages %}
		  <div class="messages-profile">
		    <div class="co-input co-input-pass">
		      {% for message in messages %}
		      <div class="co-input-success co-input co-input-pass">
		        {% if message.tags == 'error' %}
		        <p class="login-error">{{ message}}</p>
		        {% elif message.tags == 'success' %}
		        <p class="login-error password-change-successfully">{{ message}}</p>
		        {% else %}
		        <p class="login-error password-change-another">{{ message}}</p>
		        {% endif %}
		      </div>
		    {% endfor %}
		    </div>
		  </div>
		{% endif %}
  <div class="co-section-checkout">
    <h1>История заказов</h1>
  </div>
  <div class="co-checkout-block--padded">
    {% if orders %}
    <table class="co-table">
      <tbody>
        <tr>
          <td class="co-table-cell co-table-cell--head">Дата оформления</td>
          <td class="co-table-cell co-table-cell--head">Номер заказа</td>
          <td class="co-table-cell co-table-cell--head">Статус</td>
          <td class="co-table-cell co-table-cell--head">Оплата</td>
          <td class="co-table-cell co-table-cell--head">Сумма заказа</td>
        </tr>
        {% for order in orders %}
        <tr class="co-table-row--striped">
          <td class="co-table-cell co-table-cell--body">{{ order.created|date:'d.m.Y H:i' }}</td>
          <td class="co-table-cell co-table-cell--body">{{ order.id }}</td>
          <td class="co-table-cell co-table-cell--body">Принят</td>
          <td class="co-table-cell co-table-cell--body">{% if order.paid %}Оплачен{% else %}Не оплачен{% endif %}</td>
          <td class="co-table-cell co-table-cell--body">{{ order.get_total_cost }} ₴</td>
        </tr>
        {% endfor %}
        <tr class="co-table-footer">
          <td class="co-table-cell co-table-cell--foot" colspan="5">
            <div class="co-order_history-total_title">
              Сумма выполненных заказов:
            </div>
            <div class="co-order_history-total_sum co-price">
              {{ orders_sum }} ₴
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    {% else %}
    <p>Вы не сделали ещё ни одного заказа</p>
    {% endif %}
  </div>
{% endblock %}
