{% extends "base.html" %}

{% block content %}
<div class="content-container">
  <div class="co-section-login">
    <h1>Вход в личный кабинет</h1>
  </div>
  <div class="co-login">
    <div class="co-login-form_placeholder">
      {% if form.errors %}
      <div class="login-errors">
        <div class="co-input co-input-pass">
          <p class="login-error">Неверный логин или пароль</p>
        </div>
      </div>
      {% endif %}

      <form action="{% url 'login' %}" method="post">
        <div class="co-input">
          <label for="login" class="co-input-label">Логин или Email</label>
          <div class="co-input-text">
            {{ form.username }}
          </div>
        </div>
        <div class="co-input co-input-pass">
          <label for="login" class="co-input-label">Пароль</label>
          <div class="co-input-text">
            {{ form.password }}
          </div>
        </div>
        {% csrf_token %}
        <div class="co-form-controls">
          <button class="co-button co-form-button">
            Войти
          </button>
          <a href="{% url 'password_reset' %}" class="co-button co-button-link">Восстановить пароль</a>
          <a href="{% url 'register' %}" class="co-button co-button-link">Зарегистрироваться</a>
        </div>

          <!-- <p><input type="submit" value="Log-in"></p> -->
      </form>
    </div>
  </div>
</div>
{% endblock %}
