{% extends "base.html" %}


{% block content %}
<div class="content-container">
  <div class="co-section-login">
    <h1>Востановление пароля</h1>
  </div>
  <div class="co-login">
    <div class="co-login-form_placeholder">
      {% if form.errors %}
      <div class="login-errors">
        <div class="co-input co-input-pass">
  				{{ form.email.errors }}
        </div>
      </div>
      {% endif %}

    	<form action="." method="post">
        <div class="co-input">
          <label for="login" class="co-input-label">Ваш email</label>
          <div class="co-input-text">
    				{{ form.email }}
          </div>
        </div>
    		{% csrf_token %}
        <div class="co-form-controls">
          <button class="co-button co-form-button">
            Отправить подтверждение
          </button>
        </div>
    	</form>
    </div>
  </div>
</div>
{% endblock %}
