{% extends "base.html" %}

{% block content %}

<!--  -->
	<div class="co-section-login">
		<h1>Смена пароля</h1>
	</div>
	{% if validlink %}
	<div class="co-login">
		<div class="co-login-form_placeholder">
			{% if form.errors %}
			<div class="login-errors">
				<div class="co-input co-input-pass">
					{{ form.new_password1.errors }}
					{{ form.new_password2.errors }}
				</div>
			</div>
			{% endif %}
			<form action="." method="post">
				<div class="co-input co-input-pass">
					<label for="login" class="co-input-label">Пароль</label>
					<div class="co-input-text">
						{{ form.new_password1 }}
					</div>
				</div>
				<div class="co-input co-input-pass">
					<label for="login" class="co-input-label">Повторите пароль</label>
					<div class="co-input-text">
						{{ form.new_password2 }}
					</div>
				</div>
				{% csrf_token %}
				<div class="co-form-controls">
					<button class="co-button co-form-button">
						Сохранить изменения
					</button>
				</div>
			</form>
		</div>
	</div>
	{% else %}
	<div class="login-errors">
		<div class="co-input co-input-success">
			<div class="login-error">
				<p>Ссылка для сброса пароля была недействительной, возможно, потому что она уже использовалась.</p>
				<p>Пожалуйста, запросите новый сброс пароля.</p>
			</div>
		</div>
	</div>
	{% endif %}
{% endblock %}
