{% extends 'base.html' %}


{% block content %}
<div class="container">
  <div class="co-section-login">
    <h1>Оплата заказа</h1>

  </div>
  <div class="co-login">
    <div class="co-login-form_placeholder">
      <form action="." method="post" id="payment">
        <div class="co-input">
          <label for="card-number" class="co-input-label">Номер карты</label>
          <div class="co-input-text payment" id="card-number"></div>
        </div>
        <div class="co-input co-input-pass">
          <label for="cvv" class="co-input-label">CVV</label>
          <div class="co-input-text payment" id="cvv"></div>
        </div>
        <div class="co-input co-input-pass">
          <label for="expiration-date" class="co-input-label">Срок годности карты</label>
          <div class="co-input-text payment" id="expiration-date"></div>
        </div>
        <input type="hidden" id="nonce" name="payment_method_nonce" value="">
        {% csrf_token %}

        <div class="co-form-controls">
          <!-- <button class="co-button co-form-button">
            Оплатить
          </button> -->
          <input type="submit" class="co-button co-form-button" value="Оплатить">
        </div>
      </form>

    </div>
  </div>
</div>

<script src="https://js.braintreegateway.com/web/3.29.0/js/client.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.29.0/js/hosted-fields.min.js"></script>
<script>
  var form = document.querySelector('#payment');
  var submit = document.querySelector('input[type="submit"]');

  braintree.client.create({
    authorization: '{{ client_token }}'
  }, function (clientErr, clientInstance) {
    if (clientErr) {
      console.error(clientErr);
      return;
    }

    braintree.hostedFields.create({
      client: clientInstance,
      styles: {
        'input': {'font-size': '13px', 'border': '1px'},
        'input.invalid': {'color': 'red'},
        'input.valid': {'color': 'green'}
      },
      fields: {
        number: {selector: '#card-number'},
        cvv: {selector: '#cvv'},
        expirationDate: {selector: '#expiration-date'}
      }
    }, function (hostedFieldsErr, hostedFieldsInstance) {
      if (hostedFieldsErr) {
        console.error(hostedFieldsErr);
        return;
      }

      submit.removeAttribute('disabled');

      form.addEventListener('submit', function (event) {
        event.preventDefault();

        hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
          if (tokenizeErr) {
            console.error(tokenizeErr);
            return;
          }
          // set nonce to send to the server
          document.getElementById('nonce').value = payload.nonce;
          // submit form
          document.getElementById('payment').submit();
        });
      }, false);
    });
  });
</script>
{% endblock %}
